@using Microsoft.AspNetCore.Components.Authorization
@using ecommerce.Front.Services
@using MudBlazor


<MudNavMenu>
    <div class="nav-item px-3">
        <AuthorizeView>
            <Authorized>
                <MudNavLink Href="/products" Match="NavLinkMatch.All" class="mt-1">
                    <MudIcon Icon="@Icons.Material.Filled.ShoppingBag" Class="mr-1"  />
                    Products
                </MudNavLink>
                <MudNavLink Href="/orders" Match="NavLinkMatch.All" class="mt-1">
                    <MudIcon Icon="@Icons.Material.Filled.ShoppingCart" Class="mr-1" />
                    Orders
                </MudNavLink>
            </Authorized>
        </AuthorizeView>
    </div>
</MudNavMenu>

@code {
    [Inject] private AuthAPI authAPI { get; set; } = default!;
    [Inject] private NavigationManager navigationManager { get; set; } = default!;

    private async Task Logout()
    {
        await authAPI.LogoutAsync();
        navigationManager.NavigateTo("/", forceLoad: true);
    }
}